{% extends 'base.html' %}
{% load static %}

<body>

    {% block extra_js %}    {#бустреп в файле base.html #}
        <script src="{% static 'js/book.js' %}"></script>    {#js в статике. Позволяет нажать на кнопку#}
    {% endblock %}
{% block content %}
  <div class="modal fade" id="modal-book"> {#позволяет вызвать всплывающее окно #}
      <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

    <h3>{{ object.subject }}</h3>
    <h3>{{ object.synopsis }}</h3>
    <h4>{{ object.text }}</h4>
    {% if object.image %}
        <img src="{{ object.image.url }}">
    {% endif %}
    <p>{{ object.owner }}  {{ object.date }}</p>

    <a href="{% url 'Blog:comment' object.id%}">
        <input type="button" value="comment">
    </a>

    {% for i in object.comments_set.all %}

        {% if i.is_published %}

        <p>{{ i.comment }}</p>
        <p>{{ i.author }}  {{ i.date }}</p>

        {% endif %}

    {% endfor %}


</body>
{% endblock %}