<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>{{ object.subject }}</h3>
    <h3>{{ object.synopsis }}</h3>
    <h4>{{ object.text }}</h4>
    {% if object.image %}
        <img src="{{ object.image.url }}">
    {% endif %}
    <p>{{ object.owner }}  {{ object.date }}</p>

    <a href="{% url 'Blog:comment' object.id%}">
        <input type="button" value="comment">
    </a>

    {% for i in object.comments_set.all %}

        {% if i.is_published %}

        <p>{{ i.comment }}</p>
        <p>{{ i.author }}  {{ i.date }}</p>

        {% endif %}

    {% endfor %}


</body>
</html>