{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"    {# делает красиво #}
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> {# кнопка не нажимается #}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
          integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
          crossorigin="anonymous"></script>
  {% block extra_css %} {# кнопка не нажимается #}
  {% endblock %}    {# кнопка не нажимается #}
  {% block extra_js %}  {# кнопка не нажимается #}
  {% endblock %}    {# кнопка не нажимается  #}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding: 1px;"> {# темная шляпа #}
  <div class="collapse navbar-collapse" id="main-menu"> {# Возле красивой написи еще одна + она же ссылка #}
    <ul class="navbar-nav mr-auto">
          <p>   {# сама кнопка создания #}
            <a type="button" class="nav-link js-create-book" data-url="{% url 'Blog:feedback' %}">
              <span class="glyphicon glyphicon-plus"></span>
              Contuct us
            </a>
          </p>
    </ul>
  </div>
</nav>

<div class="container" style="padding-top: 100px;">  {# генерит все на сртаничке #}
  {% block content %}
  {% endblock %}
</div>

</body>
</html>